<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bord'Up</title>
        <link rel="stylesheet" href="./style article/style.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        />
        <style>
            @import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap%22");
        </style>
    </head>

    <body>
        <div class="d-block col-12">
            <div class="not-footer d-flex">
                <nav class="col-2">
                    <img src="./assets/Frame.svg" alt="logo" />
                    <ul>
                        <li>Accueil</li>
                        <li>Nos Articles</li>
                        <li>Contact</li>
                        <ul class="rs">
                            <li>
                                <i class="fa-brands fa-linkedin-in"></i>
                            </li>
                            <li><i class="fa-brands fa-facebook"></i></li>
                        </ul>
                    </ul>
                    <ul class="settings d-block">
                        <ul class="d-flex">
                            <li>FR</li>
                            <li>EN</li>
                        </ul>
                        <ul class="d-flex">
                            <li><i class="fa-solid fa-moon"></i></li>

                            <li>Aa</li>
                        </ul>
                    </ul>
                </nav>
                <div class="main col-10">
                    <div class="principal">
                        <div class="intro">
                            <h1 class="title_article">
                                Les étapes pour monter sa startup
                            </h1>
                            <p>accroche</p>
                            <p>chapeau</p>
                        </div>

                        <div class="paragraphe">
                            <h3>Trouver une structure d’accompagnement</h3>
                            <p>
                                Ut nec quam et orci faucibus mattis nec sed
                                magna. Ut fermentum erat ipsum, vel luctus enim
                                pretium vel. Aenean ac eros eget justo
                                ullamcorper porttitor. Suspendisse ultricies sem
                                vitae eleifend blandit. Donec a rhoncus felis,
                                sed pretium leo. Donec ut efficitur urna, ac
                                commodo ante. Sed feugiat lectus vitae sem
                                semper porta. Cras nisi est, bibendum et nibh
                                non, dictum porta augue. Suspendisse turpis
                                nisi, tristique et rhoncus nec, posuere id
                                dolor. Donec venenatis, est ut mattis viverra,
                                mi purus hendrerit nisi, nec maximus tellus odio
                                eu metus. Aliquam vulputate turpis eu tortor
                                volutpat, ac fringilla sem ullamcorper. Duis
                                lacus libero, iaculis quis convallis at, viverra
                                at mi. Nulla facilisi. Ut nec quam et orci
                                faucibus mattis nec sed magna. Ut fermentum erat
                                ipsum, vel luctus enim pretium vel. Aenean ac
                                eros eget justo ullamcorper porttitor.
                                Suspendisse ultricies sem vitae eleifend
                                blandit. Donec a rhoncus felis, sed pretium leo.
                                Donec ut efficitur urna, ac commodo ante. Sed
                                feugiat lectus vitae sem semper porta. Cras nisi
                                est, bibendum et nibh non, dictum porta augue.
                                Suspendisse turpis nisi, tristique et rhoncus
                                nec, posuere id dolor. Donec venenatis, est ut
                                mattis viverra, mi purus hendrerit nisi, nec
                                maximus tellus odio eu metus. Aliquam vulputate
                                turpis eu tortor volutpat, ac fringilla sem
                                ullamcorper. Duis lacus libero, iaculis quis
                                convallis at, viverra at mi. Nulla facilisi.
                            </p>
                            <img
                                src="https://static.wikia.nocookie.net/jujutsu-kaisen/images/3/33/Aoi_et_Mei_Mei_recommandant_5_des_%C3%A9tudiants_de_Tokyo_EP24.png/revision/latest/scale-to-width-down/1000?cb=20210331211533&path-prefix=fr"
                            />
                        </div>
                        <div class="paragraphe">
                            <h3>Lancer son produit</h3>
                            <p>
                                Ut nec quam et orci faucibus mattis nec sed
                                magna. Ut fermentum erat ipsum, vel luctus enim
                                pretium vel. Aenean ac eros eget justo
                                ullamcorper porttitor. Suspendisse ultricies sem
                                vitae eleifend blandit. Donec a rhoncus felis,
                                sed pretium leo. Donec ut efficitur urna, ac
                                commodo ante. Sed feugiat lectus vitae sem
                                semper porta. Cras nisi est, bibendum et nibh
                                non, dictum porta augue. Suspendisse turpis
                                nisi, tristique et rhoncus nec, posuere id
                                dolor. Donec venenatis, est ut mattis viverra,
                                mi purus hendrerit nisi, nec maximus tellus odio
                                eu metus. Aliquam vulputate turpis eu tortor
                                volutpat, ac fringilla sem ullamcorper. Duis
                                lacus libero, iaculis quis convallis at, viverra
                                at mi. Nulla facilisi. Ut nec quam et orci
                                faucibus mattis nec sed magna. Ut fermentum erat
                                ipsum, vel luctus enim pretium vel. Aenean ac
                                eros eget justo ullamcorper porttitor.
                                Suspendisse ultricies sem vitae eleifend
                                blandit. Donec a rhoncus felis, sed pretium leo.
                                Donec ut efficitur urna, ac commodo ante. Sed
                                feugiat lectus vitae sem semper porta. Cras nisi
                                est, bibendum et nibh non, dictum porta augue.
                                Suspendisse turpis nisi, tristique et rhoncus
                                nec, posuere id dolor. Donec venenatis, est ut
                                mattis viverra, mi purus hendrerit nisi, nec
                                maximus tellus odio eu metus. Aliquam vulputate
                                turpis eu tortor volutpat, ac fringilla sem
                                ullamcorper. Duis lacus libero, iaculis quis
                                convallis at, viverra at mi. Nulla facilisi.
                            </p>
                            <img
                                src="https://static.wikia.nocookie.net/jujutsu-kaisen/images/3/33/Aoi_et_Mei_Mei_recommandant_5_des_%C3%A9tudiants_de_Tokyo_EP24.png/revision/latest/scale-to-width-down/1000?cb=20210331211533&path-prefix=fr"
                            />
                        </div>
                        <div class="paragraphe">
                            <h3>Trouver des associés</h3>
                            <p>
                                Ut nec quam et orci faucibus mattis nec sed
                                magna. Ut fermentum erat ipsum, vel luctus enim
                                pretium vel. Aenean ac eros eget justo
                                ullamcorper porttitor. Suspendisse ultricies sem
                                vitae eleifend blandit. Donec a rhoncus felis,
                                sed pretium leo. Donec ut efficitur urna, ac
                                commodo ante. Sed feugiat lectus vitae sem
                                semper porta. Cras nisi est, bibendum et nibh
                                non, dictum porta augue. Suspendisse turpis
                                nisi, tristique et rhoncus nec, posuere id
                                dolor. Donec venenatis, est ut mattis viverra,
                                mi purus hendrerit nisi, nec maximus tellus odio
                                eu metus. Aliquam vulputate turpis eu tortor
                                volutpat, ac fringilla sem ullamcorper. Duis
                                lacus libero, iaculis quis convallis at, viverra
                                at mi. Nulla facilisi. Ut nec quam et orci
                                faucibus mattis nec sed magna. Ut fermentum erat
                                ipsum, vel luctus enim pretium vel. Aenean ac
                                eros eget justo ullamcorper porttitor.
                                Suspendisse ultricies sem vitae eleifend
                                blandit. Donec a rhoncus felis, sed pretium leo.
                                Donec ut efficitur urna, ac commodo ante. Sed
                                feugiat lectus vitae sem semper porta. Cras nisi
                                est, bibendum et nibh non, dictum porta augue.
                                Suspendisse turpis nisi, tristique et rhoncus
                                nec, posuere id dolor. Donec venenatis, est ut
                                mattis viverra, mi purus hendrerit nisi, nec
                                maximus tellus odio eu metus. Aliquam vulputate
                                turpis eu tortor volutpat, ac fringilla sem
                                ullamcorper. Duis lacus libero, iaculis quis
                                convallis at, viverra at mi. Nulla facilisi.
                            </p>
                            <img
                                src="https://static.wikia.nocookie.net/jujutsu-kaisen/images/3/33/Aoi_et_Mei_Mei_recommandant_5_des_%C3%A9tudiants_de_Tokyo_EP24.png/revision/latest/scale-to-width-down/1000?cb=20210331211533&path-prefix=fr"
                            />
                        </div>
                        <div
                            class="d-grid gap-2 d-md-flex justify-content-md-end"
                        >
                            <button class="btn btn-primary" type="button">
                                Button
                            </button>
                        </div>
                        <div id="comment">
                            <h3 class="subtitle_comment">Un commentaire ?</h3>
                            <div class="mb-3">
                                <label
                                    for="exampleFormControlInput1"
                                    class="form-label"
                                ></label>
                                <input
                                    type="email"
                                    class="form-control"
                                    id="exampleFormControlInput1"
                                    placeholder="Votre nom"
                                />
                            </div>
                            <div class="mb-3">
                                <label
                                    for="exampleFormControlTextarea1"
                                    class="form-label"
                                ></label>
                                <textarea
                                    class="form-control"
                                    id="exampleFormControlTextarea1"
                                    rows="5"
                                    placeholder="Votre message"
                                ></textarea>
                            </div>
                            <div
                                class="d-grid gap-2 d-md-flex justify-content-md-end"
                            >
                                <button class="btn btn-primary" type="button">
                                    Button
                                </button>
                            </div>
                        </div>
                        <div id="other_article">
                            <h3 class="subtitle_other_article">
                                Autres articles récents
                            </h3>
                            <div class="cardarticle">
                                <div class="card" style="width: 18rem">
                                    <img
                                        src="https://media.licdn.com/dms/image/C5622AQHHcxzUZUA8JQ/feedshare-shrink_800/0/1675702771854?e=1678924800&v=beta&t=GjZSKMG_sSQcAxA5qCUnM6BuPFEDcc4gHXAyaYpIC54"
                                        class="card-img-top"
                                        alt="..."
                                    />
                                    <div class="card-body">
                                        <h5 class="card-title">Article 1</h5>
                                        <p class="card-text">
                                            Some quick example text to build on
                                            the card title and make up the bulk
                                            of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary"
                                            >Voir Plus</a
                                        >
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem">
                                    <img
                                        src="https://media.licdn.com/dms/image/C5622AQHHcxzUZUA8JQ/feedshare-shrink_800/0/1675702771854?e=1678924800&v=beta&t=GjZSKMG_sSQcAxA5qCUnM6BuPFEDcc4gHXAyaYpIC54"
                                        class="card-img-top"
                                        alt="..."
                                    />
                                    <div class="card-body">
                                        <h5 class="card-title">Article 2</h5>
                                        <p class="card-text">
                                            Some quick example text to build on
                                            the card title and make up the bulk
                                            of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary"
                                            >Voir Plus</a
                                        >
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem">
                                    <img
                                        src="https://media.licdn.com/dms/image/C5622AQHHcxzUZUA8JQ/feedshare-shrink_800/0/1675702771854?e=1678924800&v=beta&t=GjZSKMG_sSQcAxA5qCUnM6BuPFEDcc4gHXAyaYpIC54"
                                        class="card-img-top"
                                        alt="..."
                                    />
                                    <div class="card-body">
                                        <h5 class="card-title">Article 3</h5>
                                        <p class="card-text">
                                            Some quick example text to build on
                                            the card title and make up the bulk
                                            of the card's content.
                                        </p>
                                        <a href="#" class="btn btn-primary"
                                            >Voir Plus</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <p>Mentions légales</p>
                <p>Conditions générales</p>
            </footer>
        </div>
    </body>
</html>
