* {
    margin: 0;
    padding: 0;
    font-family: "ABeeZee", sans-serif;
}
* li {
    list-style: none;
}
* ul {
    padding: 0;
    margin: 0;
}
* p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6fbff;
}

.main-container {
    display: flex;
    justify-content: left;
}

.intro {
    margin: 50px 0 0 0;
}
.cardarticle {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    flex: 1 0 25%;
    margin: 0 20px 40px;
    min-width: 300px;
}

.card2 {
    flex: 1 0 25%;
    margin: 0 0 40px;
    min-width: 300px;
}

.container {
    padding: 0;
}

nav {
    padding-left: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 20px;
    height: 100vh;
    background: white;
}
nav img {
    margin: 50px 0 50px 0;
}
nav ul {
    margin-bottom: 80px;
    padding-left: 0;
}
nav ul li {
    margin: 15px 0;
    padding-right: 15px;
}
nav ul .rs {
    display: flex;
}
nav ul .rs ul {
    margin-bottom: 10px;
}
nav ul .rs img {
    margin: 0;
}
nav .settings li {
    padding-right: 15px;
    margin: 5px;
}
nav .settings ul {
    margin-bottom: 0;
    justify-content: space-between;
    width: 30%;
}
.rs {
    justify-content: space-between;
    width: 30%;
}
.main {
    background-color: #f6fbff;
}

.principal {
    padding: 0 50px;
}

footer {
    padding: 20 20 20px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    padding: 0 -50px;
    align-items: center;
}

footer p {
    margin: 0 20px;
    margin-bottom: 0;
    padding: 20px 0;
}
